.grid-item{
	background-color:lightgray;
	height:150px;
	width:200px;
	border:1px solid none;
	border-radius:5px;
	font-size:40px;
}

.grid-container{
	display:grid;
	gap:5px;
	grid-template-areas: '1 2 3 4 5 6 7 8 9';
}